/* Style de la section des produits */
.products {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  }
  

  .image{
    border: 2px solid rgb(238, 255, 0);
    border-radius: 100px;
}

  /* Style du bouton "Back" */
  .backBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  /* Style de la carte de produit */
  .product-card {
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  /* Style de l'icône de favori */
  .product-card .favorite {
    color: #f5c518;
    font-size: 24px;
    margin-right: 10px;
  }
  
  /* Style de l'image du produit */
  .product-card .product-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
  }
  
  /* Style des détails du produit */
  .product-card .product-details {
    padding: 20px;
  }
  
  /* Style du titre du produit */
  .product-card .product-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  /* Style du prix du produit */
  .product-card .product-details span:first-child {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Style de la popularité du produit */
  .product-card .product-details span.popular {
    color: #4CAF50;
    font-weight: bold;
  }
  
  .product-card .product-details span.notPopular {
    color: #f44336;
    font-weight: bold;
  }
  
  /* Style de la date d'ajout du produit */
  .product-card .product-details span:last-child {
    font-size: 12px;
    color: #9e9e9e;
  }
  /* Pour les écrans de petite taille, la largeur de la carte de produit sera de 100% */
@media only screen and (max-width: 768px) {
    .product-card {
      width: 100%;
      margin-right: 0;
    }
  }
  
  /* Pour les écrans de grande taille, la largeur de la section des produits sera de 1000px */
  @media only screen and (min-width: 1024px) {
    .products {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
  .text{
    font: italic small-caps bold 16px/2 cursive;
  }